/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.heading {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  font-family: roboto;
  color: #ff8542;
}
.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: white;
  padding: 20px;
}
